<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Товары</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>

<h2>Товары</h2>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Категория</th>
            <th>Наименование</th>
        </tr>
        {{range .products}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Cathegory}}</td>
            <td>{{.Name}}</td>
        </tr>
        {{end}}
    </table>
</body>

</html>